@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");

@font-face {
  font-family: "FireCode";
  src: url("FireCode-Regular.ttf") format("truetype"),
    url("FireCode-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: "FireCode", monospace; */
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  /* background-color: #121212; */
  /* background-color: rgb(59 130 246 / 0.5); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Btn */

/* FONT */

.btn {
  @apply flex items-center justify-center p-2 mt-5 text-red-100 transition duration-500 ease-out bg-blue-400 rounded-lg cursor-pointer hover:bg-sky-700 hover:ease-in;
}

.link-nav {
  @apply transition duration-500 ease-out hover:ease-in;
}

.transition-custom {
  @apply transition duration-500 ease-out hover:ease-in;
}

/* Container */
.container-custom {
  @apply mx-auto overflow-x-hidden py-5 w-[90%] md:w-[70%];
}

.container-custom-collection {
  @apply mx-auto overflow-x-hidden py-5 w-[90%] md:w-[100%];
}

/* Watch grid */

.grid-custom {
  @apply grid grid-cols-3 gap-4;
}

.card-custom {
  @apply transition-transform duration-200 cursor-pointer hover:scale-95;
}

.loader {
  @apply w-10 h-10 border-4 border-gray-200 border-solid rounded-full border-t-blue-500;
  animation: spin 1s linear infinite;
}

.br {
  background-color: white;
  height: 0.1rem;
  width: 2rem;
  display: block;
  width: 100%;
  margin: 10px 0;
}

/* .bg {
  background: url("/public/img/wallpaper.jpg") no-repeat center center;
  background-size: cover;
  
  padding: 100px 0;
} */

.watch-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='0.4' stroke-opacity='0.1' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cline x1='12' y1='6' x2='12' y2='12'/%3E%3Cline x1='12' y1='12' x2='16' y2='14'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 200px 200px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

section {
  @apply flex flex-col items-center justify-center gap-10 mt-40;
}

.perspective {
  /* perspective: 1000px; */
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
